In [1]:
import pandas as pd

# Replace 'file1.csv' and 'file2.csv' with your actual file names
file1_path = 'historic_performance_partial2.csv'
file2_path = 'historic_performance_partial.csv'

# Read the CSV files into pandas DataFrames
df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)

# Combine the DataFrames using the concat function
combined_df = pd.concat([df1, df2], ignore_index=True)

# Write the combined DataFrame to a new CSV file
combined_df.to_csv('combined_file2.csv', index=False)

print("Files combined successfully and saved as 'combined_file.csv'")

Files combined successfully and saved as 'combined_file.csv'

C:\Users\mahes\AppData\Local\Temp\ipykernel_133420\961411495.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df1 = pd.read_csv("combined_file2.csv")
df1

,model_84_acc_10_frames_final_data,model_87_acc_20_frames_final_data,model_89_acc_40_frames_final_data,model_90_acc_20_frames_FF_data,model_90_acc_60_frames_final_data,model_93_acc_100_frames_celeb_FF_data,model_95_acc_40_frames_FF_data,model_97_acc_60_frames_FF_data,model_97_acc_80_frames_FF_data,model_97_acc_100_frames_FF_data,actual_label,filename
0,0.085597,0.000941,0.016663,90.240693,93.951607,98.530328,99.862015,99.980968,99.994063,95.767152,0,id0_0000.mp4
1,89.718682,99.555027,99.999118,82.562709,0.152790,65.669984,83.047932,98.683864,99.817514,99.492669,0,id0_0001.mp4
2,99.914157,99.993825,99.999881,99.857128,99.961853,99.987459,99.292928,99.991393,99.993777,99.794227,0,id0_0002.mp4
3,99.696511,59.048510,99.999964,99.956936,99.999964,29.666010,99.095809,99.949002,99.980634,99.861348,0,id0_0003.mp4
4,97.525579,99.248391,99.998903,99.877852,99.999785,99.971062,98.891848,99.999142,98.765045,98.392016,0,id0_0004.mp4
...,...,...,...,...,...,...,...,...,...,...,...,...
445,2.223586,0.929242,71.331906,99.407262,0.102413,79.403603,96.721375,99.931479,99.969637,99.792421,0,00195.mp4
446,84.100789,99.964118,100.000000,99.775308,99.943620,74.063587,99.985361,99.999189,99.966586,99.991441,0,00196.mp4
447,96.132255,99.954993,99.999177,98.546958,99.999499,99.982685,99.321997,99.999380,99.999750,99.946779,0,00197.mp4
448,37.670633,99.287170,17.217769,99.874228,97.524911,99.805850,98.902506,99.999297,99.996471,99.665064,0,00198.mp4
449,96.069413,99.989831,99.999988,99.904746,99.059594,99.944872,99.874216,99.999487,78.358072,99.947387,0,00199.mp4

In [3]:
df1 = df1.drop(['filename'], axis=1)
df1["true_label"] = df1["actual_label"]

In [4]:
df1 = df1.drop(["actual_label"]  ,axis=1)

In [5]:
df1.head()

,model_84_acc_10_frames_final_data,model_87_acc_20_frames_final_data,model_89_acc_40_frames_final_data,model_90_acc_20_frames_FF_data,model_90_acc_60_frames_final_data,model_93_acc_100_frames_celeb_FF_data,model_95_acc_40_frames_FF_data,model_97_acc_60_frames_FF_data,model_97_acc_80_frames_FF_data,model_97_acc_100_frames_FF_data,true_label
0,0.085597,0.000941,0.016663,90.240693,93.951607,98.530328,99.862015,99.980968,99.994063,95.767152,0
1,89.718682,99.555027,99.999118,82.562709,0.152790,65.669984,83.047932,98.683864,99.817514,99.492669,0
2,99.914157,99.993825,99.999881,99.857128,99.961853,99.987459,99.292928,99.991393,99.993777,99.794227,0
3,99.696511,59.048510,99.999964,99.956936,99.999964,29.666010,99.095809,99.949002,99.980634,99.861348,0
4,97.525579,99.248391,99.998903,99.877852,99.999785,99.971062,98.891848,99.999142,98.765045,98.392016,0

In [6]:

file2_path = 'combined_file.csv'

# Read the CSV files into pandas DataFrames

df2 = pd.read_csv(file2_path , sep="\t")

df2.head()

,model_84_acc_10_frames_final_data,model_87_acc_20_frames_final_data,model_89_acc_40_frames_final_data,model_90_acc_20_frames_FF_data,model_90_acc_60_frames_final_data,model_93_acc_100_frames_celeb_FF_data,model_95_acc_40_frames_FF_data,model_97_acc_60_frames_FF_data,model_97_acc_80_frames_FF_data,model_97_acc_100_frames_FF_data,true_label
0,97.56,7.48,100.00,45.09,99.80,72.56,95.89,82.42,53.69,59.89,1
1,0.01,99.95,100.00,3.04,99.97,0.18,3.64,0.03,99.85,0.00,0
2,0.01,99.95,100.00,3.04,99.97,0.18,3.64,0.03,99.85,0.00,0
3,7.89,56.59,100.00,99.85,100.00,99.99,85.46,99.99,96.70,79.25,1
4,0.35,99.20,13.06,6.69,0.11,99.71,1.79,99.57,100.00,11.87,1

In [7]:
import pandas as pd

# Combine the DataFrames using the concat function
combined_df = pd.concat([df1, df2], ignore_index=True)

# Write the combined DataFrame to a new CSV file
combined_df.to_csv('combined_file3.csv', index=False)

print("Files combined successfully and saved as 'combined_file.csv'")

Files combined successfully and saved as 'combined_file.csv'

In [1]:
import pandas as pd
file2_path = 'historic_performance_real22.csv'

# Read the CSV files into pandas DataFrames

df2 = pd.read_csv(file2_path)
df2["true_label"] = df2["actual_label"]
df2 = df2.drop(["actual_label"]  ,axis=1)
df2 = df2.drop(["filename"]  ,axis=1)
df2

C:\Users\mahes\AppData\Local\Temp\ipykernel_15112\2011283055.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,model_84_acc_10_frames_final_data,model_87_acc_20_frames_final_data,model_89_acc_40_frames_final_data,model_90_acc_20_frames_FF_data,model_90_acc_60_frames_final_data,model_93_acc_100_frames_celeb_FF_data,model_95_acc_40_frames_FF_data,model_97_acc_60_frames_FF_data,model_97_acc_80_frames_FF_data,model_97_acc_100_frames_FF_data,true_label
0,34.788755,0.042349,0.009977,98.285216,0.024479,0.005901,99.066401,99.330443,99.984705,99.505073,0
1,92.081976,99.908221,99.999762,99.521768,99.997735,99.989593,99.394661,99.998987,99.950647,99.689889,0
2,72.594362,99.867886,99.999928,96.148711,92.317879,97.772312,87.920028,93.518513,99.900997,89.722395,0
3,98.451185,99.988508,99.999964,91.853029,99.985635,99.996603,97.605491,99.993753,99.629116,97.648662,0
4,1.336590,0.002508,0.071674,99.978369,0.624000,60.343462,89.141279,99.996912,99.994755,99.814880,0
...,...,...,...,...,...,...,...,...,...,...,...
305,0.192795,95.961422,0.000010,99.953115,99.895227,99.948227,99.847764,99.984956,99.999189,99.991250,0
306,95.473075,99.993813,99.999964,99.939334,99.301082,99.863499,99.716550,91.778839,99.970156,99.701524,0
307,11.566068,51.751721,3.123391,98.982787,99.997437,99.789184,96.884972,99.176300,71.603143,94.758791,0
308,98.122013,95.735341,99.998653,99.528044,99.969172,99.997175,99.969280,99.999535,99.904376,99.596882,0
309,95.724994,99.654466,99.999940,91.696155,95.114350,56.217325,82.762784,86.891031,99.969196,98.972452,0

In [2]:
df1 = pd.read_csv("combined_file4.csv")
combined_df = pd.concat([df1, df2], ignore_index=True)
combined_df.to_csv('combined_final_test.csv', index=False)

print("Files combined successfully and saved as 'combined_file.csv'")

Files combined successfully and saved as 'combined_file.csv'

In [3]:
df = pd.read_csv("combined_final_test.csv")
class_distribution = df['true_label'].value_counts()
class_distribution

true_label
1    937
0    885
Name: count, dtype: int64